@charset "utf-8";
/* CSS Document */
body {
  background-color: #1f2a58;
}
.logo-banner {
  height: 40px;
}
.navbar .navbar-nav .nav-item .nav-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  border-right: #e8c655 1px solid;
  border-left: #e8c655 1px solid;
  padding-left: 20px;
  padding-right: 20px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  background-color: #3562b2;
}
.navbar .navbar-nav .nav-item .nav-link:active {
  background-color: #44b0be;
}
.navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #1f2a58;
  margin: 12px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 0;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  padding: 10px;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar .navbar-nav .nav-item .dropdown-menu li {
  border-bottom: 1px solid #e8c655;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #3562b2;
}
.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:active {
  background-color: #e8c655;
}
main {
  width: 100%;
  min-height: 500px;
}
.title {
  color: #e8c655;
}
hr {
  height: 5px;
  background-color: #e8c655;
}
footer {
  width: 100%;
  min-height: 200px;
}
.underline {
  border-bottom: 2px solid #ffc113;
}
footer .navbar-nav .navbar-item .nav-link:hover {
  color: #ffc113;
}
#service a {
  text-decoration: none;
  color: #4d4d4d;
}
#service a:hover {
  text-decoration: none;
  color: #ffc113;
}
#cam-nhan .noi-dung {
  text-align: center;
  padding: 10px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cam-nhan .noi-dung img {
  width: auto;
  height: 120px;
}
#cn .owl-nav {
  position: absolute;
  left: 0px;
  top: 20%;
  width: 100%;
}
#cn .owl-nav [class*="owl-"] {
  font-size: 40px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */
  color: #4d4d4d;
}

#cn .owl-nav .owl-next {
  position: absolute;
  right: 5%;
}
#cn .owl-nav .owl-prev {
  position: absolute;
  left: 5%;
}
#cn .owl-nav [class*="owl-"]:hover {
  background: none;
  border: none;
  color: #e8c655;
  text-decoration: none;
}
#tin-tuc a {
  text-decoration: none;
  color: #4d4d4d;
}
#tin-tuc a:hover {
  text-decoration: none;
  color: #e8c655;
}

/*contact page styling*/
#contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.contact-category {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 20px;
}
.contact-category ul li a {
  min-width: 120px;
  width: 300px;
  height: auto;
  text-decoration: none;
  color: #3562b2;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 20px;
}
.contact-category ul li a:hover {
  background-color: #44b0be;
  color: #ffffff;
}
.map-border {
  border-radius: 5px;
  border: solid 1px #1f2a58;
  padding: 10px;
}
.fix-display {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
